<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListarProductos</servlet-name>
        <servlet-class>controlador.ListarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarServicios</servlet-name>
        <servlet-class>controlador.ListarServicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarServicio</servlet-name>
        <servlet-class>controlador.AgregarServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarServicio</servlet-name>
        <servlet-class>controlador.EliminarServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProducto</servlet-name>
        <servlet-class>controlador.AgregarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>controlador.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autenticar</servlet-name>
        <servlet-class>controlador.Autenticar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarCliente</servlet-name>
        <servlet-class>controlador.IngresarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCliente</servlet-name>
        <servlet-class>controlador.ListarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCliente</servlet-name>
        <servlet-class>controlador.ModificarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCliente</servlet-name>
        <servlet-class>controlador.EliminarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarEmpleado</servlet-name>
        <servlet-class>controlador.IngresarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEmpleado</servlet-name>
        <servlet-class>controlador.ListarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarEmpleado</servlet-name>
        <servlet-class>controlador.ModificarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEmpleado</servlet-name>
        <servlet-class>controlador.EliminarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarProveedor</servlet-name>
        <servlet-class>controlador.IngresarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProveedor</servlet-name>
        <servlet-class>controlador.ListarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProveedor</servlet-name>
        <servlet-class>controlador.EliminarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProveedor</servlet-name>
        <servlet-class>controlador.ModificarProveedor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarProductos</servlet-name>
        <url-pattern>/ListarProductos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarServicios</servlet-name>
        <url-pattern>/ListarServicios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarServicio</servlet-name>
        <url-pattern>/AgregarServicio.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarServicio</servlet-name>
        <url-pattern>/EliminarServicio.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProducto</servlet-name>
        <url-pattern>/AgregarProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticar</servlet-name>
        <url-pattern>/Autenticar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarCliente</servlet-name>
        <url-pattern>/IngresarCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCliente</servlet-name>
        <url-pattern>/ListarCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCliente</servlet-name>
        <url-pattern>/ModificarCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCliente</servlet-name>
        <url-pattern>/EliminarCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarEmpleado</servlet-name>
        <url-pattern>/IngresarEmpleado.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEmpleado</servlet-name>
        <url-pattern>/ListarEmpleado.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarEmpleado</servlet-name>
        <url-pattern>/ModificarEmpleado.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEmpleado</servlet-name>
        <url-pattern>/EliminarEmpleado.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarProveedor</servlet-name>
        <url-pattern>/IngresarProveedor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProveedor</servlet-name>
        <url-pattern>/ListarProveedor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProveedor</servlet-name>
        <url-pattern>/EliminarProveedor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProveedor</servlet-name>
        <url-pattern>/ModificarProveedor.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
